In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("./data/Coffee Shop Sales.csv")
df.head()

,거래번호,거래날짜,거래시간,거래수량,카페일련번호,카페지역,상품번호,제품가격,카테고리,제품명,제품설명
0,1,2023-01-01,7:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,2023-01-01,7:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,2023-01-01,7:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,2023-01-01,7:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,2023-01-01,7:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg

In [11]:
df.shape

(149116, 11)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149116 entries, 0 to 149115
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   거래번호    149116 non-null  int64
 1   거래날짜    149116 non-null  object
 2   거래시간    149116 non-null  object
 3   거래수량    149116 non-null  int64
 4   카페일련번호  149116 non-null  int64
 5   카페지역    149116 non-null  object
 6   상품번호    149116 non-null  int64
 7   제품가격    149116 non-null  float64
 8   카테고리    149116 non-null  object
 9   제품명     149116 non-null  object
 10  제품설명    149116 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 12.5+ MB

- 날짜, 시간 dtype변환