In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('./part2/ch5/train.csv')
test = pd.read_csv('./part2/ch5/test.csv')

train.shape, test.shape

((10000, 21), (10000, 20))

In [3]:
train.head()

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Amount_invested_monthly,Monthly_Balance,Credit_Score,Credit_Mix,...,Age,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Monthly_Inhand_Salary,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month
0,56.0,16.0,11.0,35.598217,120.0,Yes,229.093478,252.385965,1,Bad,...,15.0,36597.56,8.0,10.0,29.0,5.0,3143.796667,22.49,2963.18,122.900223
1,49.0,23.0,12.0,25.553106,120.0,Yes,104.613906,219.105944,1,Bad,...,28.0,32057.30,9.0,8.0,16.0,7.0,2606.441667,1.40,1327.26,164.859426
2,34.0,20.0,6.0,40.039954,174.0,Yes,338.626965,251.265589,1,Bad,...,46.0,75868.80,6.0,10.0,32.0,7.0,6074.400000,3.60,1432.71,297.547446
3,21.0,13.0,8.0,25.711678,143.0,NM,116.816864,259.927960,2,Standard,...,46.0,17092.69,7.0,3.0,19.0,7.0,1695.390833,16.40,1417.06,62.794260
4,19.0,13.0,6.0,39.140463,138.0,Yes,87.262887,626.212330,1,Bad,...,45.0,81471.96,6.0,6.0,25.0,5.0,6763.330000,27.09,2679.69,202.857783

In [4]:
train.describe(include='O')

       Payment_of_Min_Amount Credit_Mix               Payment_Behaviour
count                  10000      10000                           10000
unique                     3          3                               6
top                      Yes   Standard  Low_spent_Small_value_payments
freq                    5269       4591                            3416

In [5]:
train.isnull().sum()

Delay_from_due_date         0
Num_of_Delayed_Payment      0
Num_Credit_Inquiries        0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Amount_invested_monthly     0
Monthly_Balance             0
Credit_Score                0
Credit_Mix                  0
Payment_Behaviour           0
Age                         0
Annual_Income               0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Monthly_Inhand_Salary       0
Changed_Credit_Limit        0
Outstanding_Debt            0
Total_EMI_per_month         0
dtype: int64

In [6]:
test.isnull().sum()

Delay_from_due_date         0
Num_of_Delayed_Payment      0
Num_Credit_Inquiries        0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Amount_invested_monthly     0
Monthly_Balance             0
Credit_Mix                  0
Payment_Behaviour           0
Age                         0
Annual_Income               0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Monthly_Inhand_Salary       0
Changed_Credit_Limit        0
Outstanding_Debt            0
Total_EMI_per_month         0
dtype: int64

In [7]:
train['Credit_Score'].value_counts()

Credit_Score
2    5237
1    2978
3    1785
Name: count, dtype: int64

In [8]:
target = train.pop('Credit_Score')
cols = train.columns[train.dtypes==object]
cols

Index(['Payment_of_Min_Amount', 'Credit_Mix', 'Payment_Behaviour'], dtype='object')

In [9]:
train['Payment_of_Min_Amount'] = train['Payment_of_Min_Amount'].astype('category')
train['Credit_Mix'] = train['Credit_Mix'].astype('category')
train['Payment_Behaviour'] = train['Payment_Behaviour'].astype('category')
train[cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Payment_of_Min_Amount  10000 non-null  category
 1   Credit_Mix             10000 non-null  category
 2   Payment_Behaviour      10000 non-null  category
dtypes: category(3)
memory usage: 29.9 KB

In [25]:
test['Payment_of_Min_Amount'] = test['Payment_of_Min_Amount'].astype('category')
test['Credit_Mix'] = test['Credit_Mix'].astype('category')
test['Payment_Behaviour'] = test['Payment_Behaviour'].astype('category')
test[cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Payment_of_Min_Amount  10000 non-null  category
 1   Credit_Mix             10000 non-null  category
 2   Payment_Behaviour      10000 non-null  category
dtypes: category(3)
memory usage: 29.9 KB

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_val, y_train, y_val = train_test_split(train, target, test_size=.02, random_state=0)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((9800, 20), (200, 20), (9800,), (200,))

In [12]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [13]:
pip install lightgbm

Requirement already satisfied: lightgbm in c:\users\lgdxschool2\anaconda3\lib\site-packages (4.6.0)
Requirement already satisfied: numpy>=1.17.0 in c:\users\lgdxschool2\anaconda3\lib\site-packages (from lightgbm) (1.26.4)
Requirement already satisfied: scipy in c:\users\lgdxschool2\anaconda3\lib\site-packages (from lightgbm) (1.13.1)
Note: you may need to restart the kernel to use updated packages.

In [14]:
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb

In [16]:
lgbmodel = lgb.LGBMClassifier(random_state=0, verbose=-1)
lgbmodel.fit(X_train, y_train)
pred = lgbmodel.predict(X_val)
pred

array([1, 2, 2, 3, 1, 2, 1, 2, 2, 2, 3, 2, 3, 2, 2, 2, 1, 1, 1, 2, 2, 1,
       2, 2, 1, 3, 2, 1, 2, 2, 3, 2, 1, 3, 1, 3, 2, 3, 2, 2, 3, 2, 3, 3,
       1, 2, 2, 3, 2, 3, 3, 2, 3, 2, 1, 3, 1, 2, 2, 1, 2, 1, 1, 3, 1, 1,
       2, 1, 2, 1, 1, 1, 2, 3, 2, 2, 1, 2, 1, 1, 2, 3, 2, 2, 2, 3, 2, 3,
       2, 1, 2, 1, 2, 2, 1, 2, 2, 3, 2, 3, 2, 2, 1, 2, 3, 2, 2, 2, 2, 3,
       2, 1, 2, 3, 2, 1, 1, 3, 2, 3, 3, 1, 2, 3, 2, 1, 1, 2, 2, 1, 2, 3,
       2, 1, 3, 2, 3, 3, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2,
       2, 1, 2, 3, 2, 2, 3, 2, 2, 1, 2, 2, 3, 3, 3, 3, 3, 2, 3, 1, 1, 2,
       1, 1, 1, 3, 3, 3, 3, 2, 2, 3, 2, 2, 2, 2, 2, 2, 3, 3, 1, 2, 2, 1,
       1, 1], dtype=int64)

In [18]:
acc = accuracy_score(y_val, pred)
print('acc: ', acc)
f1 = f1_score(y_val, pred, average='macro')
print('f1 : ',f1)

acc:  0.76
f1 :  0.7454655676162326

- 모두 1에 가까우면 좋은 성능

In [27]:
pred = lgbmodel.predict(test)
pred

array([3, 1, 1, ..., 1, 1, 2], dtype=int64)

In [29]:
submit = pd.DataFrame({'pred':pred})
submit.to_csv("result.csv",index=False)

In [31]:
pd.read_csv('result.csv')

      pred
0        3
1        1
2        1
3        2
4        1
...    ...
9995     2
9996     2
9997     1
9998     1
9999     2

[10000 rows x 1 columns]