### ëª©í‘œ
- ë¨¸ì‹ ëŸ¬ë‹ì˜ ê³¼ì •ì— ëŒ€í•´ì„œ ì •ë¦¬í•´ë³´ì
- ì‹¤ì œ ë°ì´í„°ë¥¼ í†µí•´ì„œ ê³ ê°ì—ê²Œ ì„œë¹„ìŠ¤ í•  ì œí’ˆì— ëŒ€í•´ ê·¼ê±°ê°€ ë ë§Œí•œ ìë£Œë¥¼ ìƒì„±í•´ë³´ì

#### 1. ë¬¸ì œ ì •ì˜
- ëª¨ë¸ì„ êµ¬ì¶•í•˜ëŠ” ëª©í‘œ ì„¤ì •
- ëª¨ë¸ ì„ íƒ ë‚´ìš© ì •ì˜
- ë¶„ë¥˜ vs íšŒê·€ ì •ì˜
- ì–´ë–¤ ë°ì´í„°ê°€ í•„ìš”í• ê¹Œ?
-------
> **ì‹œë‚˜ë¦¬ì˜¤** ğŸŒ (ì„œë¹„ìŠ¤ê¸°íšì)
 
```
- Aì—…ì²´ëŠ” ê°€ì • ë‚´ ì˜¨ìŠµë„ë¥¼ ì¸¡ì •í•˜ëŠ” ê¸°ì¡´ ì œí’ˆì„ í†µí•´ ê³ ê°ì—ê²Œ ì„œë¹„ìŠ¤ë¥¼ ì œê³µí•´ ì™”ìŒ
- í•œë•Œ ì—…ê³„ ì„ ë‘ë¥¼ ìœ ì§€í–ˆìœ¼ë‚˜, ë‹¤ì–‘í•œ ê²½ìŸì‚¬ì˜ ë“±ì¥ìœ¼ë¡œ ì¸í•´ ìµœê·¼ íŒë§¤ëŸ‰ì´ ê°ì†Œí•˜ê³  ìˆëŠ” ìƒí™©ì„
- ë‹¨ìˆœíˆ ì œí’ˆ íŒë§¤ì— ì˜ì¡´í•˜ëŠ” ë¹„ì¦ˆë‹ˆìŠ¤ ëª¨ë¸ë¡œëŠ” ì§€ì†ì ì¸ ì„±ì¥ì´ ì–´ë µë‹¤ê³  íŒë‹¨í•˜ì—¬, ìƒˆë¡œìš´ ê³ ê° ê°€ì¹˜ë¥¼ ì°½ì¶œí•  ìˆ˜ ìˆëŠ” ì œí’ˆ ê°œë°œì„ ì¶”ì§„í•˜ê²Œ ë¨
- ì˜¨ìŠµë„ ì„¼ì„œë¡œë¶€í„° ìˆ˜ì§‘í•œ ë°ì´í„°ë¥¼ ê¸°ë°˜ìœ¼ë¡œ AI ì œìŠµê¸°ë¥¼ ê°œë°œí•˜ì—¬, ê³ ê°ì˜ í¸ì˜ì„±ì„ ë†’ì´ê³  ê²½ìŸì‚¬ ëŒ€ë¹„ ìš°ìœ„ë¥¼ ì„ ì í•˜ë ¤ê³  í•¨
```

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### 2. ë°ì´í„° ìˆ˜ì§‘
- ë°ì´í„° ì •ë¦¬
- ì›¹ í¬ë¡¤ë§
- API
- csv íŒŒì¼
- DB
- ì„¤ë¬¸ì¡°ì‚¬

In [4]:
# ì¶œì²˜ : kaggle
data  = pd.read_csv('./data/ì˜¨ìŠµë„ ê´€ì¸¡ ë°ì´í„°.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1546 entries, 0 to 1545
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   T            1546 non-null   float64
 1   RH           1546 non-null   float64
 2   AH           1546 non-null   float64
 3   Comfortable  1546 non-null   int64
dtypes: float64(3), int64(1)
memory usage: 48.4 KB

In [6]:
data.head()

        T         RH        AH  Comfortable
0  21.025  30.625000  0.753814            0
1   9.250  37.550000  0.439072            1
2  35.825  28.724999  1.662621            0
3  15.975  35.824999  0.645597            1
4  12.200  69.575001  0.985989            0

- í–‰ 1546, ì—´ 4
- ê²°ì¸¡ì¹˜ x
- ë°ì´í„° íƒ€ì… : ìˆ˜ì¹˜í˜•
- Comfortable : ë¶„ë¥˜

> **ë°ì´í„° ì„¤ëª…**
 
* 3ê°œì˜ ì„¼ì„œ ë°ì´í„°ê°€ ìˆ˜ì§‘ë¨ (ì›í™œí•œ ì‹¤ìŠµì„ ìœ„í•´ ë¼ë²¨ì€ ë¯¸ë¦¬ ë‹¬ì•„ë‘ì—ˆìŒ)
* ë°ì´í„° ëª…ì„¸
 
| Column Name | ì»¬ëŸ¼ëª… | ì„¤ëª… |
|-------------|--------|------|
| T | ì˜¨ë„ | ì£¼ë³€ í™˜ê²½ì˜ ì˜¨ë„ (ì„­ì”¨) |
| RH | ìƒëŒ€ìŠµë„ | ê³µê¸° ì¤‘ ìŠµë„ì˜ ë¹„ìœ¨ (%) |
| AH | ì ˆëŒ€ìŠµë„ | ê³µê¸° ì¤‘ ì‹¤ì œ ìˆ˜ì¦ê¸°ëŸ‰ |
| Comfortable | ì¾Œì  ì—¬ë¶€ | í™˜ê²½ì´ ì¾Œì í•œì§€ ë‚˜íƒ€ë‚´ëŠ” ì´ì§„ê°’ - 0(ë¶ˆì¾Œ), 1(ìƒì¾Œ) |

#### 3. ë°ì´í„° ì „ì²˜ë¦¬(preprocessing)
- ê²°ì¸¡ì¹˜ ì œê±° ë° ëŒ€ì²´
- ì´ìƒì¹˜ ì œê±° ë° ëŒ€ì²´
- ë³€ìˆ˜(ì»¬ëŸ¼, íŠ¹ì„±, feature) ì²˜ë¦¬ : íŠ¹ì„±ì¶”ê°€, ì‚­ì œ, ì„ íƒ, ìŠ¤ì¼€ì¼ë§(ë‹¨ìœ„ ì¡°ì •), ì¸ì½”ë”©
------

#### 4. EDA(íƒìƒ‰ì  ë°ì´í„° ë¶„ì„)
- ë°ì´í„°ì˜ ê¸°ìˆ í†µê³„ëŸ‰(ìµœëŒ€,ìµœì†Œ,ì‚¬ë¶„ìœ„ìˆ˜,í‰ê· ,ì¤‘ì•™ ë“±), ì‹œê°í™” ë“±ì„ í†µí•œ ë‹¤ì–‘í•œ ê°ë„ì—ì„œ ë°ì´í„°ë¥¼ ê´€ì°°í•˜ëŠ” ë‹¨ê³„
- ë°ì´í„° ì „ì²˜ë¦¬ë¥¼ í•˜ê²Œë˜ëŠ” ê·¼ê±°ë¡œ ì‚¼ì„ìˆ˜ ìˆìŒ

In [20]:
# ê¸°ìˆ í†µê³„ëŸ‰
data.describe().T

,count,mean,std,min,25%,50%,75%,max
T,1546.0,18.702808,8.787124,-1.900000,11.825000,19.225000,25.168750,44.600000
RH,1546.0,43.917987,14.464104,9.225000,36.150000,38.724999,51.468750,88.725000
AH,1546.0,0.977192,0.423748,0.198757,0.639129,0.959642,1.289465,2.139496
Comfortable,1546.0,0.482536,0.499857,0.000000,0.000000,0.000000,1.000000,1.000000

In [28]:
# ë¶ˆì¾Œ/ìƒì¾Œë¥¼ íŒë‹¨í•˜ê¸° ìœ„í•œ ê°€ì¥ ì¤‘ìš”í•œ íŠ¹ì„±(T,RH,AH)ì€ ë¬´ì—‡ì¼ê¹Œ?
# -- ì—¬ëŸ¬ íŠ¹ì„±ê°„ì˜ ê´€ê³„ë¥¼ íŒŒì•…í•´ë³´ì!
# corr : ìƒê´€ê³„ìˆ˜ ê°’ì„ í†µí•´ì„œ íŠ¹ì„±ê°„ì˜ ì—°ê´€ì„±ì„ íŒŒì•…í•˜ì(ìƒê´€ê´€ê³„)
# íŠ¹ì„±ê°„ì˜ ë°©í–¥ì„±ì„ íŒŒì•…í•´ì„œ ë¹„ë¡€, ë°˜ë¹„ë¡€, ì˜ë¯¸x
# -1 ~ 1 ë²”ìœ„ë¡œ ìˆ˜ì¹˜ í‘œí˜„
# 0 ì˜ë¯¸ê°€ ì—†ìŒ
data.corr()['Comfortable']

T              0.080162
RH            -0.431584
AH            -0.113466
Comfortable    1.000000
Name: Comfortable, dtype: float64

#### ìƒê´€ê³„ìˆ˜ í•´ì„
 
```
|r| = ì ˆëŒ€ê°’  
 
Â· 0.0 <= |r| < 0.2 : ìƒê´€ê´€ê³„ê°€ ì—†ë‹¤. = ì„ í˜•ì˜ ê´€ê³„ê°€ ì—†ë‹¤.  
 
Â· 0.2 <= |r| < 0.4 : ì•½í•œ ìƒê´€ê´€ê³„ê°€ ìˆë‹¤.  
 
Â· 0.4 <= |r| < 0.6 : ë³´í†µì˜ ìƒê´€ê´€ê³„ê°€ ìˆë‹¤.  
 
Â· 0.6 <= |r| < 0.8 : ê°•í•œ (ë†’ì€) ìƒê´€ê´€ê³„ê°€ ìˆë‹¤.  
 
Â· 0.8 <= |r| <= 1.0 : ë§¤ìš° ê°•í•œ (ë§¤ìš° ë†’ì€) ìƒê´€ê´€ê³„ê°€ ìˆë‹¤.
```

- RH : ìƒëŒ€ìŠµë„ê°€ ìƒëŒ€ì ìœ¼ë¡œ ìƒê´€ê´€ê³„ê°€ ë†’ìŒ! (ì•½í•œ ìƒê´€ê´€ê³„)

In [33]:
# ë°ì´í„° ë¶„ë¦¬ ì§„í–‰í•˜ê¸°
# ë¬¸ì œ, ë‹µ ë¶„ë¦¬
# ë¬¸ì œ : íŠ¹ì„±, ë…ë¦½ë³€ìˆ˜, ì„¤ëª…ë³€ìˆ˜, feature, X
# ë‹µ : label, ë ˆì´ë¸”, ë¼ë²¨, ì¢…ì†ë³€ìˆ˜, ë°˜ì‘ë³€ìˆ˜, y
# * ì™œ X ëŒ€ë¬¸ìì¸ê°€? ë¬¸ì œë°ì´í„° ì»¬ëŸ¼ì€ ì—¬ëŸ¬ê°œ(ì°¨ì› ê°œìˆ˜ ë§ìŒ > ëŒ€ë¬¸ìë¡œ í‘œí˜„)
data.head()

        T         RH        AH  Comfortable
0  21.025  30.625000  0.753814            0
1   9.250  37.550000  0.439072            1
2  35.825  28.724999  1.662621            0
3  15.975  35.824999  0.645597            1
4  12.200  69.575001  0.985989            0

In [39]:
X = data.iloc[:,:3]
y = data['Comfortable']